asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2
django-cors-headers==4.9.0
django-filter==24.3
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==22.0.0
idna==3.13
packaging==26.2
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.5
urllib3==2.6.3
